<!DOCTYPE html>
<html lang="en">
    <%- include('components/header'); -%>
<body class="bg-charcoal">
    <div class="relative flex items-center justify-center px-4 md:px-20 min-h-screen">
        <div class="absolute left-0 -bottom-3 md:left-0  lg:left-0 lg:bottom-1/2">
            <svg class="w-24 h-24 md:w-fit md:h-fit" width="178" height="221" viewBox="0 0 178 221" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M70.8052 57.4026C70.8052 89.1052 45.1052 114.805 13.4026 114.805C-18.3 114.805 -44 89.1052 -44 57.4026C-44 25.7 -18.3 0 13.4026 0C45.1052 0 70.8052 25.7 70.8052 57.4026ZM-32.6026 57.4026C-32.6026 82.8106 -12.0054 103.408 13.4026 103.408C38.8106 103.408 59.4078 82.8106 59.4078 57.4026C59.4078 31.9946 38.8106 11.3974 13.4026 11.3974C-12.0054 11.3974 -32.6026 31.9946 -32.6026 57.4026Z" fill="#DA4167"/>
                <path d="M78.8417 175.078C78.8417 200.44 58.2817 221 32.9196 221C7.55757 221 -13.0024 200.44 -13.0024 175.078C-13.0024 149.716 7.55757 129.156 32.9196 129.156C58.2817 129.156 78.8417 149.716 78.8417 175.078ZM-3.88453 175.078C-3.88453 195.404 12.5933 211.882 32.9196 211.882C53.246 211.882 69.7238 195.404 69.7238 175.078C69.7238 154.752 53.246 138.274 32.9196 138.274C12.5933 138.274 -3.88453 154.752 -3.88453 175.078Z" fill="#DA4167"/>
                <path d="M177.574 107.343C177.574 134.607 155.472 156.709 128.208 156.709C100.944 156.709 78.8416 134.607 78.8416 107.343C78.8416 80.0786 100.944 57.9766 128.208 57.9766C155.472 57.9766 177.574 80.0786 177.574 107.343ZM88.6433 107.343C88.6433 129.194 106.357 146.907 128.208 146.907C150.059 146.907 167.772 129.194 167.772 107.343C167.772 85.492 150.059 67.7784 128.208 67.7784C106.357 67.7784 88.6433 85.492 88.6433 107.343Z" fill="#DA4167"/>
            </svg>
        </div>
        <div class="absolute right-0 top-1 md:top-10 lg:top-[40%]">
            <svg class="w-24 h-24 md:w-fit md:h-fit" width="178" height="221" viewBox="0 0 178 221" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M114.805 57.4026C114.805 89.1052 89.1052 114.805 57.4026 114.805C25.7 114.805 0 89.1052 0 57.4026C0 25.7 25.7 0 57.4026 0C89.1052 0 114.805 25.7 114.805 57.4026ZM11.3974 57.4026C11.3974 82.8106 31.9946 103.408 57.4026 103.408C82.8106 103.408 103.408 82.8106 103.408 57.4026C103.408 31.9946 82.8106 11.3974 57.4026 11.3974C31.9946 11.3974 11.3974 31.9946 11.3974 57.4026Z" fill="#DA4167"/>
                <path d="M122.842 175.078C122.842 200.44 102.282 221 76.9196 221C51.5576 221 30.9976 200.44 30.9976 175.078C30.9976 149.716 51.5576 129.156 76.9196 129.156C102.282 129.156 122.842 149.716 122.842 175.078ZM40.1155 175.078C40.1155 195.404 56.5933 211.882 76.9196 211.882C97.246 211.882 113.724 195.404 113.724 175.078C113.724 154.752 97.246 138.274 76.9196 138.274C56.5933 138.274 40.1155 154.752 40.1155 175.078Z" fill="#DA4167"/>
                <path d="M221.574 107.343C221.574 134.607 199.472 156.709 172.208 156.709C144.944 156.709 122.842 134.607 122.842 107.343C122.842 80.0786 144.944 57.9766 172.208 57.9766C199.472 57.9766 221.574 80.0786 221.574 107.343ZM132.643 107.343C132.643 129.194 150.357 146.907 172.208 146.907C194.059 146.907 211.772 129.194 211.772 107.343C211.772 85.492 194.059 67.7784 172.208 67.7784C150.357 67.7784 132.643 85.492 132.643 107.343Z" fill="#DA4167"/>
            </svg>
        </div>

        <% if (errorMessage && Object.keys(errorMessage).length !== 0) { %>
            <div class="absolute top-40 lg:top-44">
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                <span class="font-medium">Oops!</span>
                    <ul class="mt-1.5 list-disc list-inside">
                        <%= errorMessage %>  
                </ul>
                </div>
                </div>
            </div>
        <% } %>
        <div class="bg-white w-[40rem] shadow-2xl rounded-xl">
            <div class="w-full flex min-h-full flex-col justify-center px-0 py-6">
                <div class="border-b border-black pb-6 ">
                    <h2 class="text-center text-4xl font-bold leading-9 tracking-tight text-gray-900">LexiconLab</h2>
                </div>
            
                <div class="mt-10 sm:mx-auto sm:w-full px-10">
                <form class="space-y-6 mb-6" action="/login" method="POST">
                    <div>
                        <label for="username" class="block text-sm font-medium leading-6 text-gray-900">User Name</label>
                        <div class="mt-2">
                            <input id="username" name="username" type="text" autocomplete="username" value="<%= username %>" required class="block w-full rounded-md border-0 py-1.5 pl-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-0 focus:outline-cerise sm:text-sm sm:leading-6">
                        </div>
                    </div>

                    <div>
                        <div class="flex items-center justify-between">
                            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                            <!-- <div class="text-sm">
                            <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
                            </div> -->
                        </div>  

                        <div class="mt-2">
                            <input id="password" name="password" type="password" autocomplete="current-password" value="<%= password %>" required class="block w-full rounded-md border-0 py-1.5 pl-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-0 focus:outline-cerise sm:text-sm sm:leading-6">
                        </div>
                    </div>
            
                    <div class="mt-8 flex items-center justify-between md:justify-end">
                        <a href="/register" class="mt-4 flex w-fit justify-center border-y hover:rounded-md border-cerise px-8 py-1.5 text-sm font-semibold leading-6 hover:border-x focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cerise transition-all">REGISTER</a>
                        <button type="submit" class="mt-4 ml-4 flex w-fit justify-center rounded-md bg-cerise px-8 py-1.5 text-sm font-semibold leading-6 shadow-sm hover:bg-opacity-70 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cerise">LOGIN</button>
                    </div>
                </form>
                </div>
            </div>
        </div>

    </div>
</body>
</html>